* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Dancing Script', cursive;
}

body.bg-0 {
  background-color: #075600;
  background-image: url("../public/images/static.png");
  background-repeat: repeat;
  background-size: contain;
}

body.bg-0 .roulette-wrapper {
  backdrop-filter: none;
}

body.bg-1 {
  background-image: url("../public/images/static-bg-1.jpg");
  background-repeat: repeat;
}

body.bg-2 {
  background-image: url("../public/images/static-bg-2.jpg");
  background-repeat: repeat;
}

body.bg-3 {
  background-image: url("../public/images/static-bg-3.jpg");
  background-repeat: repeat;
}

body.bg-4 {
  background-image: url("../public/images/static-bg-4.jpg");
  background-repeat: repeat;
}

body.bg-5 {
  background-image: url("../public/images/static-bg-5.jpg");
  background-repeat: repeat;
}

.heading {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.roulette-wheel-wrapper {
  margin: 0 auto 30px auto;
  overflow: hidden;
}

.roulette-wrapper {
  /* min-width: 330px;
  max-width: 768px; */
  width: 800px;
  backdrop-filter: blur(5px);
  margin: auto;
  padding: 0 30px;
  border-radius: 30px;
  border: 1px solid #fff;
}

@media (max-width: 800px) {
  .roulette-wrapper {
    width: 100%;
    padding: 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu .chips, .menu .buttons, .roulette-wheel-wrapper .buttons {
  display: flex;
  justify-content: center;
}

.roulette-wheel-wrapper .buttons {
  margin-top: 30px;
}

.buttons button {
  padding: 15px 20px;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s ease;
}

.buttons button:hover {
  transform: scale(1.08);
}

.buttons button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.chips {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chips li {
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.chips li:hover {
  transform: scale(1.1);
}

.chips li.active {
  transform: scale(1.3);
}

.chips li:last-child {
  margin-right: 0;
}

.score {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: #000 1px 0 10px;
}

.menu button {
  margin-right: 3px;
}

.menu button:last-child {
  margin-right: 0;
}

.data {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
